@model ProjektZespolowy.Models.MyModels.Stanowisko

@{
    ViewData["Title"] = "Usuwanie stanowiska";
}

<div class="register">
    <section class="register-wrapper">
        <h2>Usuń stanowisko</h2>

        <h3>Czy jesteś pewien?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Typ:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Typ)
                </dd>
            </dl>

            <form asp-action="Delete" class="details-bottom-nav">
                <input type="hidden" asp-for="StanowiskoId" />
                <input type="submit" value="Usuń" class="btn btn-default" /> |
                <a asp-action="Index">Wróć do listy stanowisk</a>
            </form>
        </div>
    </section>
</div>