@model IEnumerable<ProjektZespolowy.Models.MyModels.Stanowisko>

@{
    ViewData["Title"] = "Stanowiska";
}


<div class="content-wrapper">
    <section class="uslugi">
        <h2>Stanowiska</h2>

        <p>
            <a asp-action="Create">Stwórz nowe stanowisko</a>
        </p>
        <table class="table two-columns">
            <thead>
                <tr>
                    <th>
                        Typ
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Typ)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.StanowiskoId">Edytuj</a> |
                            <a asp-action="Details" asp-route-id="@item.StanowiskoId">Szczegóły</a> |
                            <a asp-action="Delete" asp-route-id="@item.StanowiskoId">Usuń</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</div>