@model ProjektZespolowy.Models.MyModels.WykonanaUsluga

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>WykonanaUsluga</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WykonanaUslugaId" />
            <div class="form-group">
                <label asp-for="Ilosc" class="control-label"></label>
                <input asp-for="Ilosc" class="form-control" />
                <span asp-validation-for="Ilosc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IloscZaPunkty" class="control-label"></label>
                <input asp-for="IloscZaPunkty" class="form-control" />
                <span asp-validation-for="IloscZaPunkty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Koszt" class="control-label"></label>
                <input asp-for="Koszt" class="form-control" />
                <span asp-validation-for="Koszt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WykorzystanePunkty" class="control-label"></label>
                <input asp-for="WykorzystanePunkty" class="form-control" />
                <span asp-validation-for="WykorzystanePunkty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DodanePunkty" class="control-label"></label>
                <input asp-for="DodanePunkty" class="form-control" />
                <span asp-validation-for="DodanePunkty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Zaksiegowano" /> @Html.DisplayNameFor(model => model.Zaksiegowano)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
