@model WebApplication6.Models.ApplicationUser

@{
    ViewData["Title"] = "Edit";
}

<h2>Zarządzaj</h2>

<h4>Pracownik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsEmployee" /> @Html.DisplayNameFor(model => model.IsEmployee)
                    </label>
                </div>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="SecurityStamp" />
            <input type="hidden" asp-for="ConcurrencyStamp" />
            <input type="hidden" asp-for="UserName" />
            <input type="hidden" asp-for="CompanyName" />
            <input type="hidden" asp-for="NormalizedUserName" />
            <input type="hidden" asp-for="UserConfirmed" />
            <input type="hidden" asp-for="NormalizedEmail" />
            <input type="hidden" asp-for="PasswordHash" />
            <input type="hidden" asp-for="Points" />
            <input type="hidden" asp-for="Pesel" />
            <input type="hidden" asp-for="Nip" />
            <input type="hidden" asp-for="Regon" />
            <input type="hidden" asp-for="IsNaturalPerson" />
            <input type="hidden" asp-for="EmailConfirmed" />
            <input type="hidden" asp-for="PhoneNumberConfirmed" />
            <input type="hidden" asp-for="TwoFactorEnabled" />
            <input type="hidden" asp-for="LockoutEnabled" />
            <input type="hidden" asp-for="LockoutEnd" />
            <input type="hidden" asp-for="AccessFailedCount" />
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index3">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
