@model ProjektZespolowy.Models.MyModels.Usluga

@{
    ViewData["Title"] = "Dodaj usługę";
}


<div class="register">
    <section class="register-wrapper">
        <h2>Dodaj usługę</h2>
        <hr />
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="TypUslugi" class="control-label">Typ usługi</label>
                        <input asp-for="TypUslugi" class="form-control" />
                        <span asp-validation-for="TypUslugi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cena" class="control-label">Cena</label>
                        <input asp-for="Cena" class="form-control" />
                        <span asp-validation-for="Cena" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PunktyZysk" class="control-label">Punkty zysk</label>
                        <input asp-for="PunktyZysk" class="form-control" />
                        <span asp-validation-for="PunktyZysk" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PunktyKoszt" class="control-label">Punkty koszt </label>
                        <input asp-for="PunktyKoszt" class="form-control" />
                        <span asp-validation-for="PunktyKoszt" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Dodaj" class="btn btn-default" />
                    </div>
                </form>
            <a asp-action="Index">Wróć do listy usług</a>
    </section>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
