@model ProjektZespolowy.Models.MyModels.Usluga

@{
    ViewData["Title"] = "Usuwanie usługi";
}


<div class="register">
    <section class="register-wrapper">
        <h2>Usuń usługę</h2>

        <h3>Czy jesteś pewien?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Typ usługi:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TypUslugi)
                </dd>
                <dt>
                    Cena:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Cena)
                </dd>
                <dt>
                    Punkty zysk:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PunktyZysk)
                </dd>
                <dt>
                    Punkty koszt:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PunktyKoszt)
                </dd>
            </dl>

            <form asp-action="Delete" class="details-bottom-nav">
                <input type="hidden" asp-for="UslugaId" />
                <input type="submit" value="Usuń" class="btn btn-default" /> |
                <a asp-action="Index">Wróć do listy usług</a>
            </form>
        </div>
    </section>
</div>