@model ProjektZespolowy.Models.MyModels.Rachunek

@{
    ViewData["Title"] = "Edycja rachunku";
}

<div class="register">
    <section class="register-wrapper">
        <h2>Edycja rachunku</h2>
        <hr />

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RachunekId" />
            <div class="form-group">
                <label asp-for="Data" class="control-label">Data</label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paragon" class="control-label">Paragon</label>
                <input asp-for="Paragon" class="form-control" />
                <span asp-validation-for="Paragon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Wróć do listy rachunków</a>
        </div>
    </section>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
