@model ProjektZespolowy.Models.MyModels.Rachunek


@{
    ViewData["Title"] = "Paragon";
}

<div class="register">
    <section class="register-wrapper">
        <h2>Paragon</h2>
        <hr />
        <div id="paragon-info">
            @Html.Raw(ViewBag.rachunek.ParagonToHtml())
        </div>
        </section>
    </div>
