@model ProjektZespolowy.Models.MyModels.Rachunek


@{
    ViewData["Title"] = "Paragon";
}

<h2>Paragon</h2>

<div>
    @Html.Raw(ProjektZespolowy.Models.MyModels.Temp.rachunek.ParagonToHtml())
</div>

