@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>


<h1>Kontakt</h1>

<address>
    Kraków 31-864 <br />
    ul. Jana Pawła II 37 <br />
    <abbr title="Telefon">Tel:</abbr>
    (070)012-34-56
    <abbr title="Fax">Fax:</abbr>
    (070)-011-22-33
</address>

@*<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@
